.simulation {
  display: block;
  margin: auto;
  height: 600px;
  width: 600px;
}

.north {
  margin-left: 262px;
  margin-top: 10px;
  margin-bottom: 33px;
}

.south {
  margin-left: 262px;
  margin-top: 245px;
}

.east {
  display: block;
  float: right;
}

.west {
  display: block;
  float: left;
}
