.background {
  position: relative;
  height: 175px;
  width: 75px;
  display: inline-flex;
  background-color: #1b1b1b;
  border-radius: 5px;
  z-index: -1;

}

.light {
  position: absolute;
  height: 40px;
  width: 40px;
  display: block;
  margin-left: 24%;
  border-radius: 50%;
  margin-top: 10px;
  background-color: wheat;
}

.light.red {
  background-color: red;
}

.secound {
  margin-top: 68px;
}
.third {
  margin-top: 125px;
}

.light.green {
  background-color: green;
}

.light.yellow {
  background-color: yellow;
}

