.background {
  position: relative;
  height: 175px;
  width: 75px;
  display: inline-flex;
  background-color: #1b1b1b;
  border-radius: 5px;
  z-index: -1;
}

.red-light, .yellow-light, .green-light {
  position: absolute;
  height: 40px;
  width: 40px;
  display: block;
  margin-left: 24%;
  border-radius: 50%;
  margin-top: 10px;
  background-color: wheat;
}

.yellow-light {
  margin-top: 68px;
}

.green-light {
  margin-top: 125px;
}

.red-light.on {
  background-color: red;
}

.yellow-light.on {
  background-color: yellow;
}

.green-light.on {
  background-color: green;
}
